
<app-navbar></app-navbar>
<div class="container">
    <div class="row g-3">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xxl-6">

           <table class="table table-borderless">
            <tr>
                <td></td>
            </tr>
            <tr>
                <td>Username</td>
                <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
                <td>E-mail</td>
                <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
                <td>Phone No</td>
                <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="" id="" class="form-control"></td>
            </tr>
            <tr>
                <td>Confirm Password</td>
                <td><input type="password" name="" id="" class="form-control"></td>
            </tr>
            <tr>
                <td></td>
                <td><a routerLink= "/loginpage" class="btn btn-info">Register</a></td>
            </tr>
           </table>
        </div>
    </div>
</div>
